<a href="https://colab.research.google.com/github/hongo-daisuke/study-python/blob/master/python_sequence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# シーケンス型とは
複数の連続したデータを順番に並べかたまりにしたもの

*   リスト (list)
*   タプル (tuple)
*   レンジ (range)
*   文字列 (str)

### m番目からn番目までの値を取得
```
[m : n] . . . m番目からn番目までの値を取得
m . . . 0から始まる番号
n . . . 1から始まる番号
```

In [ ]:
# 0番目から1から数えた3番目まで取得
a = ['a', 'b', 'c', 'd', 'e']
a[0:3]

['a', 'b', 'c']

### m番目からn番目までの値を取得
```
[m : -n] . . . m番目からn番目までの値を取得
m . . . 0から始まる番号
n . . . 0から始まる番号
```

In [ ]:
# 0番目から、後ろから0から数えた3番目まで取得
a = ['a', 'b', 'c', 'd', 'e']
a[1:-3]

['b']

### 最初からn番目までの値を取得
```
[ : n] . . . 最初からn番目までの値を取得
n . . . 1から始まる番号
```

In [ ]:
# 最初から4番目まで取得
a = ['a', 'b', 'c', 'd', 'e']
a[:4]

['a', 'b', 'c', 'd']

### m番目から最後までの値を取得
```
[m : ] . . . m番目から最後までの値を取得
m . . . 0から始まる番号
```

In [ ]:
# 最初から2番目まで取得
a = ['a', 'b', 'c', 'd', 'e']
a[2:]

['c', 'd', 'e']

### 先頭からn個おきに値を取得
```
[ : : n] . . . 先頭からn個おきに値を取得
```

In [ ]:
# 先頭から3個おきに値を取得
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a[ : : 3]

['a', 'd', 'f']

### 逆順に末尾からn個おきに値を取得
```
[ : : -n] . . . 逆順に末尾からn個おきに値を取得
```

In [ ]:
# 逆順に末尾からn個おきに値を取得
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a[ : : -2]

['g', 'e', 'c', 'a']

## 文字列のシーケンス

In [ ]:
s = 'Hello World'

print(s[1:5])  #　1番目から5番目まで
print(s[:4])   # 0番目から4番目まで 
print(s[2:])   # 2番目から最後まで
print(s[4:-2]) # 4番目から後ろから2個目まで
print(s[::2])   # 0番目から2個おきに値を取得
print(s[::-1])  # 逆順に末尾から1個おきに値を取得
print(s[::-2])  # 逆順に末尾から2個おきに値を取得

ello
Hell
llo World
o Wor
HloWrd
dlroW olleH
drWolH

## リストのスライス

In [ ]:
s = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
s[0:10:2]

[0, 2, 4, 6, 8]

In [ ]:
s = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
s[9:0:-2]

[9, 7, 5, 3, 1]

## 内包表記

*   リスト等を発生させるための処理を簡単に記述する
*   既存のリストとforを用いるケースが多い
*   ifで条件付けも可能

### リスト内包表記の書き方
```
リスト内包表記の記法
[ iの処理 for i in range(n, m) ]

if分を含むリスト内包表記の記法
[ iの処理 for i in range(n, m) if iに関する条件]
```

In [ ]:
# 0から4までのリストを作成
s = [i for i in range(5)]
s

[0, 1, 2, 3, 4]

In [ ]:
# 0から4までの数値に2を掛けた数値のリストを作成
s = [i*2 for i in range(5)]
s

[0, 2, 4, 6, 8]

In [ ]:
# 0から10までの数値で偶数のリストを作成
s = [i for i in range(11) if i % 2 == 0]
s

[0, 2, 4, 6, 8, 10]

## 二重の内包表記
```
[ [ xの処理, yの処理] for x in 配列 for y in 配列 if x, yの条件式 ]
```

In [ ]:
[ [ x, y ] for x in range(6) for y in range(6, 11) if x % 2 == 0 if y % 2 == 0]

[[0, 6], [0, 8], [0, 10], [2, 6], [2, 8], [2, 10], [4, 6], [4, 8], [4, 10]]

In [ ]:
# 上記の処理をfor文で表すと下記の様になる
s = []
for x in range(6):
    for y in range(6, 11):
        if x % 2 == 0:
            if y % 2 == 0:
                s.append([x, y])
s

[[0, 6], [0, 8], [0, 10], [2, 6], [2, 8], [2, 10], [4, 6], [4, 8], [4, 10]]

In [ ]:
# 文字列と数値の二重の内包表記
[ [ x, y ] for x in ['a', 'b', 'c'] for y in range(2)]

[['a', 0], ['a', 1], ['b', 0], ['b', 1], ['c', 0], ['c', 1]]

In [ ]:
# 上記の処理をfor文で表すと下記の様になる
s = []
for x in ['a', 'b', 'c']:
    for y in range(2):
        s.append([x, y])
s

[['a', 0], ['a', 1], ['b', 0], ['b', 1], ['c', 0], ['c', 1]]

In [2]:
[x * y for x in range(1, 4) for y in range(2, 5)]

[2, 3, 4, 4, 6, 8, 6, 9, 12]

## 辞書の内包表記
```
dict{ k : v for k, v in zip( [ 'one', 'two', 'three' ], [ 1, 2, 3 ] ) }
```

In [ ]:
{ k : v for k, v in zip( [ 'one', 'two', 'three' ], [ 1, 2, 3 ] ) }

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
# 上記の処理は下記の様に記述出来る
dict(zip( [ 'one', 'two', 'three' ], [ 1, 2, 3 ] ) )

{'one': 1, 'two': 2, 'three': 3}

## 集合内包表記

In [3]:
# 基本的にはリストと同じ
{x for x in range(0, 5)}

{0, 1, 2, 3, 4}

In [4]:
# 重複は削除される
{x for x in [1, 1, 2, 3, 4, 4, 5]}

{1, 2, 3, 4, 5}

## ジェネレータ内包表記

In [14]:
def g():
    for i in range(10):
        yield i
g = g()
print(next(g))
print(next(g))
print(next(g))
print(next(g))

0
1
2
3

In [15]:
# 上記処理のは以下のように、記述出来る
g = (i for i in range(10))
print(type(g))
print(next(g))
print(next(g))
print(next(g))
print(next(g))

<class 'generator'>
0
1
2
3