<a href="https://colab.research.google.com/github/hongo-daisuke/study-python/blob/master/python_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# コンテナ
Python言語で大量のデータを扱う仕組み

## リスト (list)
*   配列
*   複数のデータをまとめて管理
*   データの追加・削除・入れ替えなど可能
*   添字番号で管理

In [84]:
# 文字列や数値、リストも入れることが可能
a = [1, 'Hello', 3, -10, ['good', 1]]
print(a)

# 添字でアクセス
print(f'a[1] : {a[1]}')
print(f'a[4] : {a[4]}')

# データの変更
print(f'データ変更前 a[3] : {a[3]}')
a[3] = 11
print(f'データ変更後 a[3] : {a[3]}')

# 末尾にデータの追加
a.append('world')
print(f"a.append('world') : {a}")

# insert(n)でn番目にデータを追加
a.insert(1, '1番目に追加されました。')
print(f"a.insert(1, '1番目に追加されました。') : {a}")

# データの削除(同じ値が複数存在する場合は最初の値が消される)
a.remove(11)
print(f'a.remove(11) : {a}')

# データのクリア
a = []
print(f'a = [] : {a}')

[1, 'Hello', 3, -10, ['good', 1]]
a[1] : Hello
a[4] : ['good', 1]
データ変更前 a[3] : -10
データ変更後 a[3] : 11
a.append('world') : [1, 'Hello', 3, 11, ['good', 1], 'world']
a.insert(1, '1番目に追加されました。') : [1, '1番目に追加されました。', 'Hello', 3, 11, ['good', 1], 'world']
a.remove(11) : [1, '1番目に追加されました。', 'Hello', 3, ['good', 1], 'world']
a = [] : []

## タプル (tuple)
*   リストに似た構造
*   一度定義した構造は変更出来ない
*   変更出来ないがスピード早い

In [12]:
# 初期化 ()で囲っても良い
t = 1, 2, 4, -3, 6
print(type(t))

# tupleへのアクセス
print(t[3])

# 値の変更はできない
t[3] = 'NG'

<class 'tuple'>
-3

TypeError: ignored

## 集合 (set)
*   セット(set)とも言う
*   重複を許さないデータ構造
*   データを一意に管理
*   集合演算が出来る

In [18]:
# {}の間に複数の要素を , で区切る
s = {'number', 1, 3, 6, -5, 4, -2}
print(type(s))

# 重複は削除される
s2 = {1, 1, 1, 2, 2, 3}
print(s2)

# データの追加
s.add('追加')
print(s2)

# データの削除
s.remove('number')
print(s)

# 空データの作成、データのクリア
s = set() # 空データの作成
s.clear() # データのクリア

<class 'set'>
{1, 2, 3}
{1, 2, 3}
{1, 3, 4, 6, '追加', -5, -2}

### 集合演算子
*   和集合 (|) ... 複数の集合のどちらか一方に属する要素
*   積集合 (&) ... 複数の集合に共通する要素
*   差集合 (-) ... 集合から別の集合に属する要素を取ったもの
*   対称差 (^) ... 和集合から積集合を取り除いたもの

In [23]:
# 集合演算
s1 = {'バスケ', 'サッカー', '陸上', 'バレー', 'アメフト'}
s2 = {'水泳', 'バスケ', 'サッカー', '陸上', 'バレー', 'テニス'}

# 和集合
print('和集合:', s1 | s2)

# 積集合
print('積集合:', s1 & s2)

# 差集合
print('差集合 s1 - s2:', s1 - s2)
print('差集合 s2 - s1:', s2 - s1)

# 対称差
print('対称差:', s1 ^ s2)

和集合: {'サッカー', '陸上', 'アメフト', '水泳', 'バスケ', 'テニス', 'バレー'}
積集合: {'陸上', 'バレー', 'バスケ', 'サッカー'}
差集合 s1 - s2: {'アメフト'}
差集合 s2 - s1: {'水泳', 'テニス'}
対称差: {'水泳', 'テニス', 'アメフト'}

## 辞書 (dict)
*   データをkeyとvalueの組み合わせで管理
*   key及びvalueのデータタイプは自由に定義可能

In [32]:
# 辞書の作成
d = {'name': 'michael', 'favoriteSport': 'basketball', 'number':23}

# 辞書のアクセス
print("d['name'] : ", d['name'])
print("d['favoriteSport'] : ", d['favoriteSport'])
print("d['number'] : ", d['number'])

# 要素の追加
d['team'] = 'bulls'
print("d['team'] : ", d['team'])

# 特定のキーを削除
d['del'] = 'del'
print('削除前: ', d)
del d['del']
print('削除後: ', d)

# 全てのデータを削除
d.clear()
print(d)

d['name'] :  michael
d['favoriteSport'] :  basketball
d['number'] :  23
d['team'] :  bulls
削除前:  {'name': 'michael', 'favoriteSport': 'basketball', 'number': 23, 'team': 'bulls', 'del': 'del'}
削除後:  {'name': 'michael', 'favoriteSport': 'basketball', 'number': 23, 'team': 'bulls'}
{}

## データ構造とfor文
データ構造にアクセスする場合によく使用する

### リストとfor文

In [71]:
numbers = [0, 2, 4, 5, 3, 1]
for i in numbers:
    print(i)

0
2
4
5
3
1

### タプルとfor文

In [70]:
numbers = 0, 2, 4, 5, 3, 1
for i in numbers:
    print(i)

0
2
4
5
3
1

### 集合とfor文

In [72]:
numbers = {0, 2, 4, 5, 3, 1}
for i in numbers:
    # リストやタプルと違い出力の順番は保証されていない
    print(i)

0
1
2
3
4
5

### 辞書とfor文1 keyとvalueを取得

In [55]:
prayer = {'name': 'michael', 'favoriteSport': 'basketball', 'number':23}
for key, value in prayer.items():
    print('key : ', key)
    print('value : ', value)

key :  name
value :  michael
key :  favoriteSport
value :  basketball
key :  number
value :  23

### 辞書とfor文2 keyのみ取得1

In [66]:
for key in prayer:
    print('key : ', key)

key :  name
key :  favoriteSport
key :  number

### 辞書とfor文3 keyのみ取得2

In [67]:
for key in prayer.keys():
    print('key : ', key)

key :  name
key :  favoriteSport
key :  number

### 辞書とfor文3 valuesのみ取得

In [68]:
for value in prayer.values():
    print('value : ', value)

value :  michael
value :  basketball
value :  23

## コンテナと関数

### min()
リスト・タプル・集合の中の最小値を求める

In [64]:
data = [1, 2, 8, 9]
print(min(data))

1

### max()
リスト・タプル・集合の中の最大値を求める

In [63]:
data = [1, 2, 8, 9]
print(max(data))

9

### sum()
リスト・タプル・集合の中の合計値を求める

In [65]:
data = [1, 2, 8, 9]
print(sum(data))

20

### enumerate()
要素のインデックスと要素を同時に取り出す

In [89]:
allstars = ['michael', 'lebron', 'duncan', 'curry', 'olajuwon']
for num, value in enumerate(allstars):
    print(f'num {num} : {value}')

num 0 : michael
num 1 : lebron
num 2 : duncan
num 3 : curry
num 4 : olajuwon

### zip()
複数のデータを配列にして処理

In [88]:
allstars = ['Jordan', 'lebron', 'duncan', 'curry', 'olajuwon']
teams = ['bulls', 'lakers', 'spurs', 'warriors', 'rockets']
for allstar, team in zip(allstars, teams):
    print(f'team : {team} , name : {allstar}')

team : bulls , name : Jordan
team : lakers , name : lebron
team : spurs , name : duncan
team : warriors , name : curry
team : rockets , name : olajuwon

### reversed()
データを逆順で処理

In [90]:
allstars = ['Jordan', 'lebron', 'duncan', 'curry', 'olajuwon']
for value in reversed(allstars):
    print(value)

olajuwon
curry
duncan
lebron
Jordan

## ミュータブルとイミュータブル
ミュータブル ... 書き換え可能
*   list
*   dict
*   set
など

イミュータブル ... 書き換え不可能
*   str
*   int / float
*   tuple
など


### ミュータブルとイミュータブルの区別
イミュータブル
*   文字列や数値の様なサイズが小さいものは書き換えやコピーが無駄にならない

ミュータブル
*   サイズが大きくなる可能性があり、メモリが足りなくなる可能性がある

In [110]:
# イミュータブルなオブジェクト
n = 2
print(f'計算実行前 id={id(n)}')

# 実行結果は5だが元のn=2とは別のオブジェクトになっている
n = n + 3
print(f'計算実行後 id={id(n)}')

# 同じ値の場合は同一オブジェクトのため、最初と同じidになる
n = n - 3
print(f'計算実行後 id={id(n)}')

計算実行前 id=11256096
計算実行後 id=11256192
計算実行後 id=11256096

In [116]:
# ミュータブルなオブジェクト
l = [1, 2, 3]
print(f'id={id(l)}')

# リストの中身を削除
del l[1]
print(f'id={id(l)}')

# リストを追加
l.append(4)
print(f'id={id(l)}')

id=140167019417840
id=140167019417840
id=140167019417840

## 値渡しと参照渡し

```
値渡し ... 変数に値を直接代入する
•ミュータブルなオブジェクト

参照渡し .. メモリ上の場所を代入する
•イミュータブルなオブジェクト
```

In [95]:
# 値渡し 数値
a = 100
b = a
a = 1
print(f'aの値 : {a}')
print(f'bの値 : {b}')

# aに1を代入した時点で新しいオブジェクトになっているためbは変わらない

aの値 : 1
bの値 : 100

In [96]:
# 値渡し 文字列
a = 'Hello'
b = a
a = 'World'
print(f'aの値 : {a}')
print(f'bの値 : {b}')

# aに'World'を代入した時点で新しいオブジェクトになっているためbは変わらない

aの値 : World
bの値 : Hello

In [97]:
# 参照渡し
a = [5, 6, 7, 8, 9]
b = a
a[0] = 1
print(f'aの値 : {a}')
print(f'bの値 : {b}') # aの0番目を変更したのにbも変化している
# aとbは同じオブジェクトを参照しているためである

aの値 : [1, 6, 7, 8, 9]
bの値 : [1, 6, 7, 8, 9]

## コンテナのコピー
イミュータブルなオブジェクトを同じものを作成するにはコピーが必要
*   シャローコピー
*   ディープコピー

In [108]:
# シャローコピー
import copy
a = [[1, 2], [3, 4]]
b = copy.copy(a)
# aとbで異なるリストではあるが見ているオブジェクトは同じ
print(f'b : {b}')

# 見ているオブジェクトが同一のためaの値を変えるとbも変わる
a[0][0] = 100
print(f'a : {a}')
print(f'b : {b}')

b : [[1, 2], [3, 4]]
a : [[100, 2], [3, 4]]
b : [[100, 2], [3, 4]]

In [109]:
# ディープコピー
import copy
a = [[1, 2], [3, 4]]
b = copy.deepcopy(a)
# 同じ要素の新しいオブジェクトが生成される
print(f'b : {b}')

# オブジェクトが異なるため、bの値は上書きされない
a[0][0] = 100
print(f'a : {a}')
print(f'b : {b}')

b : [[1, 2], [3, 4]]
a : [[100, 2], [3, 4]]
b : [[1, 2], [3, 4]]